@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
