.questions-card {
    width: 1312px;
    height: 300px;
    background: #f8f9fb;
    border-radius: 12px;
    border: 1px solid #ECEDEE;
    padding: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

.questions-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 50%;
}

.questions-title{
    font-family: "SF Pro", sans-serif;
    font-weight: 510;
    font-size: 75px;
    font-style: medium;
    color: #1C1C1C;
    width: 507px;
    height: 73px;
    margin: 0;
}

.questions-sub {
    font-family: "SF Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: regular;
    color: #5F6368;
    width: 518px;
    height: 42px;
    margin: 0;
}

.questions-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questions-image {
    height: 100%;       
    width: auto;       
    opacity: 0.1;      
    object-fit: contain;
    margin-right: 20px;
}

.question-button {
    flex-flow: horizontal;
    width: 144px;
    height: 26px;
    color: white;
    gap: 4px;
    font-family: "SF Pro", sans-serif;
    font-size: 20px;
}