.personnel-page {
    min-height: 100vh;
    background: #FFFFFF;
    padding-bottom: 100px;
}

.personnel-title {
    font-weight: 590;
    font-size: 56px;
    font-family: "SF Pro", sans-serif;
    text-align: center;
    margin: 50px 20px 15px;
    color: #1C1C1C;
}

.personnel-sub {
    font-size: 20px;
    font-family: "SF Pro", sans-serif;
    text-align: center;
    margin: 0 auto 60px;
    font-weight: 400;
    line-height: 130%;
    color: #5F6368;
}

.PersonnelFilterCategories,
.PersosnnelFilterMajor,
.PersonnelSearch {
    width: 310px;
    height: 44px;
    border-radius: 12px;
    gap: 8px;
    margin: 0  auto 20px;
    padding: 0 20px;
    border-color: #ECEDEE;
    color: #F8F9FB;
}

.personnel-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1500px;
  margin: 50px 5px;
  padding: 10px 10px;
}